

.category {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #b4afaf;
    margin-bottom: 18px;
}

.buttonWrapper {
    display: flex;
    justify-content: flex-end;
}

.button {
    width: 124px;
    height: 46px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    border: 2px solid var(--violet);
    border-radius: 40px;
    transition: color .3s linear, background-color .3s linear;
}

.button:is(:hover, :focus) {
    color: var(--white);
    background-color: var(--violet);
}
