.switcher {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background: linear-gradient(180deg, var(--violet) 0%, #dcdcdc 100%);
    box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.control {
    position: absolute;
    top: 50%;
    left: 1px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background: linear-gradient(180deg, var(--white) 0%, #f7f7f7 100%);
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1),
        1px 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
